<%- include('_partials/header') %>

<img class="position-rel max-width" src="">
  
<div class="container center-align">
  <h1 class="">
    Don't Think, Just Eat!
  </h1>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-6">
      <form action="/show" method="POST">
        <div class="input-group">
          <input type="text" name="location" class="form-control" placeholder="Enter an address">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Eat!</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

    
<%- include('_partials/footer') %>