<%- include('_partials/header') %>
  
<div id="home" class="container center-align black-box position-abs">
  <img src="https://i.imgur.com/s66rJSv.png" id="logo">
  <h1 class="fancy-font">
    Don't Think, Just Eat!
  </h1>
  <div class="row">
    <div class="col s2"></div>
    <div class="col s8">
      <form action="/show" method="POST">
        <div class="input-group">
          <input type="text" name="location" class="form-control opacity center-align" placeholder="Enter an address, city, or zipcode.">
          <span class="input-group-btn">
            <button class="btn btn-success orange darken-4" type="submit">Eat!</button>
          </span>
        </div>
      </form>
    </div>
    <div class="col s2"></div>
  </div>
</div>

    
<%- include('_partials/footer') %>