body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content-card {
  margin-top: 50px;
}


#updateButton {
  float: left;
}

/*  Google Maps Styling  */

#map {
  height: 400px;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
