body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.content-card {
  margin-top: 50px;
}


#updateButton {
  float: left;
}

/***************************************************
  Google Maps Styling
*******************************************/
#map {
  height: 400px;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.width-100 {
  width: 100%;
}

/***************************************************
  IMAGES/DIVS/POSITIONING
*******************************************/
.card-image {
  width: 100%;
  height: 250px;
}

#home {
  left: 50%;
  top: 50%;
  width: 900px;
  height: 600px;
  margin-top: -300px;
  margin-left: -450px;
  border-radius: 2%;

}

#logo {
  width: 200px;
  margin-top: 30px;
}

#little-logo {
  width: 50px;
  margin: 5px;
}

.black-box {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 2px 20px;
  
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
}

.profile {
  width: 170px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

#avatar {
  width: 50px;
  border: 1px solid black;
  border-radius: 50px;
}